body {
    text-align: center;
    font-family: Lato;
}

.container {
    margin-top: 5%;
}

img {
    width: 25%;
}

h1 {
    text-align: center;
    font-family: Merriweather;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p {
    text-align: center;
}

.row {
    margin-right: 20%;
    margin-left: 20%;
}

a:visited {
    color: grey;
}

.bottom {
    text-align: center;
    margin-top: 10%;
    left: 50%;
}
